<html>

<head>
</head>

<body>

<h3> About the project: </h3>

<h5> If someone only looks at one mainstream news source, will they get balanced coverage about different presidential candidates of the same political party? What are the demographics of readers of mainstream news sources? Are readers of a particular news source likely to vote for a particular candidate? I aimed to investigate these questions in my project. </h5>

<h5> My data about political affiliation, race, and age of news readers came from the Democracy Fund Voter Study Group <a href = "https://www.voterstudygroup.org/publication/nationscape-data-set-release-1"> Nationscape data set </a>. I also scraped headlines from the New York Times with their <a href = "https://developer.nytimes.com/docs/articlesearch-product/1/overview">Article Search API</a>.</h5>

<h5> My code for this project can be found on <a href = "https://github.com/rachelaus/political_news_project">my Github</a>. </h5>

</body>
</html>

